modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://Vercel-Admin-QIROX:TOTY20009a@qirox.5xzw7uq.mongodb.net/?appName=QIROX"
ZEGO_APP_ID = "1592038564"
ZEGO_APP_SIGN = "b17b2c8394fc53fe3b418a31b301a86f56569d7dbd23a392eb6dbd99bf043395"
ZEGO_SERVER_SECRET = "c20aef3d11f24bb409843cdc08dd3823"
VITE_ZEGO_APP_ID = "1592038564"
